/*Верхняя панель*/
div.top-pannel {
    display: inline-block;
    color: #3c85f0;
    margin:-10px;
    margin-left: 0;
    margin-bottom: 10px;
    margin-top: -10px;
    text-align: center;
    background-color: #36383c;
    border: 3px #000000 solid;
    min-width: 650px;
    border-radius: 0 0 0 20px;
    height: 65px;
    width:100%;
}
div.head{
    display: inline-block;
    float: left;
    text-align:center;
    color: #3c85f0;
    font-size:40px;
    padding: 7px;
    height: 60px;
    width: 100px;
    margin: -5px;
    margin-right: 20px;
    margin-left: 10px;
}
button.button-pannel{
    overflow: hidden;
    display: inline-block;
    text-align: center;
    color: #3c85f0;
    font-size:15px;
    padding: 3px;
    height: 65px;
    width: 140px;
    margin-left: -2px;
    margin-right: -2px;
    background-color: #131519;
    border: 3px #000000 solid;
    border-radius: 20px;
}
div.name{
    display: inline-block;
    text-align:center;
    color: #3c85f0;
    font-size:15px;
    padding: 7px;
    width: 80px;
    height: 35px;
    margin: 20px;
    float: right;
    font-weight: bold;
}
div.avatar{
    display: inline-block;
    text-align: center;
    color: rgba(60, 133, 240, 0.67);
    font-size: 15px;
    padding: 5px;
    height: 50px;
    width: 65px;
    margin-right: 10px;
    background-color: #131519;
    border: 3px #000000 solid;
    border-radius: 20px;
    position: relative;
    left: 10px;
    float: right;
}
/*боковая панель*/
div.righ-pannel{
    display: inline-block;
    color: #3c85f0;
    text-align: center;
    background-color: #36383c;
    border: 1px #000000 solid;
    border-radius: 0 0 0 100px;
    height: 500px;
    margin: -10px;
    margin-left: 1px;
    margin-right: -5px;
    min-width: 80px;
    width: 80px;
    float: right;
}
/*новость*/
div.news{
    overflow: hidden;
    display: inline-block;
    width: 450px;
    height: 370px;
    margin: 1px;
    background-color: rgba(251, 251, 255, 0.66);
    border: 3px #000000 solid;
    border-radius: 22px;
    min-width: 450px;
    max-width: 450px;
}
div.head2{
    text-align:center;
    color: #020407;
    font-size:20px;
    font-weight: bold;
    background-color: rgba(2, 4, 7, 0.29);
    padding: 7px;
    width: 100%;
    display: inline-block;
    border-radius: 10px 10px 0 0;
}
div.data{
    display: inline-block;
    float: right;
    text-align:center;
    padding: 1px;
}
div.text{
    margin: 5px;
    margin-bottom: 2px;
    text-align: center;
    font-size: 14px;
    object-fit: cover;
    width: 280px;
    min-height: 100%;
    width: 60%;
    overflow: hidden;
    float: left;
}
img.img-news{
    display: inline-block;
    overflow: hidden;
    width: 150px;
    height: 150px;
    border: 3px #000000 solid;
    border-radius:  0 0 0 15px;
    max-width: 150px;
    max-height: 150px;
    float: right;
    position: relative;
}
div.author{
    display: inline-block;
    margin: 5px;
    font-size: 16px;
    text-align: right;
    font-style: italic;
    float: right;
}
button.show-full{
    display: inline-block;
    text-align: center;
    color: #3c85f0;
    font-size: 14px;
    padding: 5px;
    width: 30%;
    background-color: #131519;
    border: 3px #000000 solid;
    border-radius:  15px 0 0 0;
    float:right;
}
button.edit-news{
    display: inline-block;
    text-align: center;
    color: #3c85f0;
    font-size: 14px;
    padding: 5px;
    width: 30%;
    background-color: #131519;
    border: 3px #000000 solid;
    border-radius:  0 0 0 0;
    float:right;
}
button.delete{
      display: inline-block;
      text-align: center;
      color: #3c85f0;
      font-size: 14px;
      padding: 5px;
      width: 30%;
      background-color: #131519;
      border: 3px #000000 solid;
      border-radius:  0 0 0 15px;
      float:right;
}
/*нижняя панель*/
footer.down-pannel{
    display: inline-block;
    overflow: hidden;
    color: #3c85f0;
    background-color: rgba(54, 56, 60, 0.71);
    border: 3px #000000 solid;
    border-radius: 0 20px 0 0;
    height: 20px;
    width:100%;
    text-align: center;
    margin-left: -5px;
    margin-bottom: -12px;
    font-weight: bold;
    min-width: 650px;

}
